@import './normalize/_variables.scss';
@import './normalize/_vertical-rhythm.scss';
@import './normalize/_normalize.scss';
@import './_vars.scss';

// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";


/* General */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}


/* Animations */

.slide-top-enter-active {
  transition: all .4s ease;
}
.slide-top-leave-active {
  transition: all .2s ease;
}
.slide-top-enter, .slide-top-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

.slide-bot-enter-active {
  transition: all .4s ease;
}
.slide-bot-leave-active {
  transition: all .2s ease;
}
.slide-bot-enter, .slide-bot-leave-to {
  transform: translateY(50%);
  opacity: 0;
}


/* Top Nav Menu */

.top-menu {
  a {
    text-decoration: none;
  }
}


/* Global Elements | TODO: Вынести в отдельные файлы */

.one-comment {
  &__raiting {
    text-align: right;

    div {
      text-align: center;
      min-width: 100px;
      margin: 16px 0;
      padding: 24px;

      i, span {
        font-size: 1.5rem;
      }
    }
  }
  &__text {
    text-align: left;

    p {
      width: 100%;
      display: inline-block;
      background-color: $c_comment_bg;
      color: $c_text_white;
      line-height: 1.5em;
      padding: 24px;
    }
  }
}