@import '../_vars.scss';

.user-profile {
  &>.el-row {
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .user-card {
    max-width: 300px;
  
    &__avatar {
      display: block;
      width: 100%;
      max-width: 300px;
      max-height: 300px;
    }
    &__raiting {
      position: absolute;
      top: 20px;
      transform: translateY(-50%) translateX(30%);
    }
    &__status {
      position: absolute;
      right: 20px;
      font-size: 72px;
      line-height: 72px;
  
      &--offline {
        color: $c_offline;
      }
      &--online {
        color: $c_online;
      }
    }
    &__follow-button {
      text-align: right;
    }
    &__bottom {
      padding: 16px;
    }
    &__name {
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      border-bottom: solid 1px #e6e6e6;
    }
    &__stream {
      span {
        line-height: 40px;
      }
    }
  }

.comments {
  &__stream {
    position: relative;
    z-index: 100;
    top: 1.25em;

    &>div {
      padding-left: 50px;
    }
  }
  &__stream-block {
    display: inline-block;
    background-color: $c_bg_white;
    padding: 0 24px;
  }
  &__stream-raiting {
    display: inline-block;
    min-width: 100px;
    text-align: center;
  }
  &__stream-link {
    display: inline-block;
    line-height: 1.5em;
  }
  &__item {
    margin-bottom: 20px;
  }
}

}

